<div class="row align-items-center mb-5" id="main-div">
    <div class="col-lg-6 col-sm-12" id="left">
        <h1 class="digitar-animacao">OBRIGADO POR se inscrever!</h1>
        <h2>Em breve você receberá um link para acessar os nossos dashboards Agro e Pecuária.</h2>
        <a href="https://safegoldbi.com.br/" id="safegold-bi">Voltar Para o site</a>
    </div>
    <div class="col-lg-6 col-sm-12" id="right">
        <div class="sg-fundo-verde-mobile"></div>
        <img src="../assets/img/dashboard.png" alt="safegold" class="fade-in">
    </div>
</div>