@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
}

p{
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 16px;
}

#body{
    margin-bottom:  17.5rem;
}

@media screen {
    
}

