<div class="row justify-content-between align-items-center  mb-5 responsive" id="body">
    <div class="col left-container">
        <h1>OBRIGADO POR BAIXAR!</h1>
        <h2>Em breve você receberá um link para acessar seu e-book exclusivo!</h2>
        <p>
            Caso não encontre o email em sua página principal do email verifique a sua caixa de spam.
        </p>
    </div>
    <div class="col d-flex flex-row-reverse">
        <img src="../assets/img/mockup.svg" alt="" class="responsive">
    </div>
</div>