<div class="row justify-content-between" id="firstline">
    <div class="col-lg-6 col-sm-12" id="coluna-esquerda">
        <img src="../assets/img/dashboard.png" class="fade-in">
        <h1 class="digitar-animacao">O FUTURO DA<br>
            GESTÃO CHEGOU<br>
            PARA O AGRONEGÓCIO
        </h1>
        <p>
            Reduza custos, melhore a produtividade e maximize o lucro <br>
            de sua propriedade com Business Intelligence. 
        </p>
        <p>
            Inscreva-se agora mesmo no formulário e conheça agora <br>
            mesmo o futuro da gestão do agronegócio.
        </p>
    </div>
    <div class="col-lg-6 col-sm-12 d-flex justify-content-center" id="coluna-direita">
        <div class="sg-fundo-verde-mobile"></div>
        <div class="sg-form fade-in">
            <form #formContato="ngForm">
                <h2>Inscreva-se agora mesmo para receber!</h2>
                <div class="form-group mt-3">
                    <label for="email">E-mail*</label>
                    <input type="email" class="form-control" name="email" id="inputFocus"
                        placeholder="email@exemplo.com" ngModel required>
                </div>
                <div class="form-group mt-4">
                    <label for="nome">Seu nome*</label>
                    <input type="text" class="form-control" name="nome" placeholder="Nome Completo" ngModel required>
                </div>
                <div class="form-group mt-4">
                    <label for="telefone">Seu telefone*</label>
                    <input type="text" class="form-control" name="telefone" placeholder="(00) 0 0000-0000"
                        mask="(00) 0000-0000 || (00) 0 0000-0000" ngModel required>
                </div>
                <div class="form-group mt-4">
                    <label for="cargo">Seu cargo*</label>
                    <select class="form-select" name="cargo" ngModel required>
                        <option *ngFor="let cargo of CargoChoices" [value]="cargo">{{ cargo }}
                        </option>
                    </select>
                </div>
                <div class="form-group mt-4">
                    <label for="segmento_empresa">Qual é o segmento da sua empresa?*</label>
                    <select class="form-select" name="segmento_empresa" ngModel required>
                        <option *ngFor="let segmento_empresa of SegmentoChoices" [value]="segmento_empresa">{{
                            segmento_empresa }}
                        </option>
                    </select>
                </div>
                <div class="form-group mt-4">
                    <label for="faturamento">Faixa de faturamento*</label>
                    <select class="form-select" name="faturamento" ngModel required>
                        <option *ngFor="let faturamento of FaturamentoChoices" [value]="faturamento">{{ faturamento
                            }}
                        </option>
                    </select>
                </div>
                <!-- <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="sg-check-label" for="flexCheckDefault">
                        Quero receber as novidades e promoções da Safegold.Clicando em aceito, você concorda com a
                        <a onclick="privacidade()" class="sg-privacy">política de privacidade</a> da
                        Safegold*.
                    </label>
                </div> -->
                <button type="submit" class="sg-button" (click)="SalvarForm(formContato.value)"
                    [disabled]="!formContato.valid">Baixar
                    Agora!</button>
            </form>
        </div>
    </div>

</div>