@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.sg-form {
    width: 325px;
    height: 710px;
    background: #D9D9D9;
    box-shadow: 16px 18px 20px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 6%;
    /* margin-right: 17%; */
    margin-bottom: 3rem;
    justify-content: end;
    left: 0;
    /* position: absolute; */
}

.sg-fundo-verde {
    position: relative;
    width: 40%;
    height: 100%;
    /* left: 59px;
    top: -133px; */
    padding-bottom: 14rem;
    padding-top: 6rem;
    background: linear-gradient(168.23deg, #54A633 47.84%, #00745E 140.12%);
    border-radius: 100px 0px 0px 0px;
    top: 0;
    right: 0;
}

.sg-button {
    background: #54A633;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    border: none;
    padding: 7px 28px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    margin-top: 2.7rem;
}

.sg-button:hover {
    background: #192517;
}

.sg-button:disabled {
    background: #54A63391;
}

.sg-check-label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 59px;
    color: #54A633;
}

p {
    margin-top: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: justify;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
}

input,
select {
    border-radius: 10px;
}

label {
    font-size: 14px;
}


.sg-align-middle-vertical {
    position: relative;
    top: 25%;
}

#firstline {
    margin-bottom: 5rem;
}

#filine-ficol {
    margin-top: 5rem;
}

#coluna-direita {
    /* margin-top: 8rem; */
    padding-right: 0;
    /* background: linear-gradient(168.23deg, #54A633 47.84%, #00745E 140.12%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px 100px 0px 0px; */
}

#coluna-esquerda img {
    width: 30rem;
    /* height: 24rem; */
    margin: 3rem 0;
}

@media screen and (max-width: 991px) {
    #firstline {
        margin: none;
        margin-bottom: 0;
    }

    #coluna-esquerda img {
        width: 19rem;
        margin: 3rem auto;
        justify-content: center;
    }

    #coluna-esquerda {
        padding: 0 3rem;
    }

    #coluna-direita {
        position: relative;
    }

    h1 {
        font-size: 34px;
        line-height: 41px;
        text-shadow: 1px 1px 2px #fff;
        text-align: center;
    }

    p {
        font-size: 12px;
        line-height: 13px;
        margin-bottom: 2rem;
    }

    br {
        display: none;
    }

    label {
        font-size: 14px;
    }

    #filine-secol {
        margin-top: 0;
        margin-bottom: 1rem;
        padding-right: 0;
        text-align: center;
    }

    .sg-align-middle-vertical {
        padding-bottom: 3rem;
    }

    .sg-form {
        width: 300px;
        height: 720px;
        padding-right: 6%;
        padding-left: 6%;
        padding-top: 6%;
        padding-bottom: 0%;
        margin: 2rem auto;
        justify-content: center;
    }

    .sg-fundo-verde-mobile {
        margin-top: 10rem;
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        height: 50rem;
        width: 10vw;
        background: linear-gradient(168.23deg, #54A633 47.84%, #00745E 140.12%);
        border-radius: 100px 0px 0px 0px;
    }

    .digitar-animacao {
        animation: none;
        /* Aplica a animação */
        white-space: break-spaces;
        /* Faz com que o texto não quebre a linha */
    }
    img{
        animation: none;
    }
}

@media screen and (max-width: 575px) {
    .sg-fundo-verde-mobile {
        width: 100vw;
    }
}

@media screen and (min-width: 575px) and (max-width: 991px) {
    .sg-fundo-verde-mobile {
        width: auto;
        right: 0;
        left: 0;
        border-radius: 50px 50px 0px 0px;
    }

}