<div class="row justify-content-center">
    <div class="col-lg-4 col-sm-12" id="filine-ficol">
        <img src="../assets/img/mockup.svg" alt="">
    </div>
    <div class="col-lg-3 col-sm-12" id="filine-secol">
        <h1>E-BOOK GRATUITO</h1>
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum dolor aliquet, luctus justo a,
            fermentum enim. Maecenas ac interdum sem.
        </p>
        <p>
            Duis mattis, purus at finibus facilisis, lorem sapien malesuada lacus, eu congue ipsum enim eu quam. In hac
            habitasse platea dictumst. Integer vel est varius, finibus elit vestibulum, sodales sapien.
        </p>
    </div>
    <div class="col-lg-4 col-sm-12 d-flex justify-content-center" id="filine-thcol">
        <div class="sg-form">
            <form #formContato="ngForm">
                <h2 class="text-center">Lorem ipsum dolor sit amet.</h2>
                <div class="form-group mt-4">
                    <label for="email">E-mail*</label>
                    <input type="email" class="form-control" name="email" id="inputFocus"
                        placeholder="email@exemplo.com" ngModel required>
                </div>
                <div class="form-group mt-4">
                    <label for="nome">Seu nome*</label>
                    <input type="text" class="form-control" name="nome" placeholder="Nome Completo" ngModel required>
                </div>
                <div class="form-group mt-4">
                    <label for="telefone">Seu telefone*</label>
                    <input type="text" class="form-control" name="telefone" placeholder="(00) 0 0000-0000" mask="(00) 0000-0000 || (00) 0 0000-0000" ngModel required>
                </div>
                <div class="form-group mt-4">
                    <label for="cargo">Seu cargo*</label>
                    <select class="form-select" name="cargo" ngModel required>
                        <option *ngFor="let cargo of CargoChoices" [value]="cargo">{{ cargo }}
                        </option>
                    </select>
                </div>
                <div class="form-group mt-4">
                    <label for="segmento_empresa">Qual é o segmento da sua empresa?*</label>
                    <select class="form-select" name="segmento" ngModel required>
                        <option *ngFor="let segmento_empresa of SegmentoChoices" [value]="segmento_empresa">{{ segmento_empresa }}
                        </option>
                    </select>
                </div>
                <div class="form-group mt-4">
                    <label for="faturamento">Faixa de faturamento*</label>
                    <select class="form-select" name="faturamento" ngModel required>
                        <option *ngFor="let faturamento of FaturamentoChoices" [value]="faturamento">{{ faturamento }}
                        </option>
                    </select>
                </div>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="sg-check-label" for="flexCheckDefault">
                        Quero receber as novidades e promoções da Safegold.Clicando em aceito, você concorda com a
                        <a onclick="privacidade()" class="sg-privacy">política de privacidade</a> da
                        Safegold*.
                    </label>
                </div>
                <button type="submit" class="sg-button mt-3" (click)="SalvarForm(formContato.value)" [disabled]="!formContato.valid">Baixar
                    Agora!</button>
            </form>
        </div>
    </div>
</div>
<div class="row sg-second-line">
    <div class="col-lg-7 col-sm-12 px-5">
        <div class="sg-align-middle-vertical">
            <h1 class="sg-header-text">Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum dolor aliquet, luctus justo a,
                fermentum enim. Maecenas ac interdum sem.
            </p>
            <p>Duis mattis, purus at finibus facilisis, lorem sapien malesuada lacus,
                eu congue ipsum enim eu quam. In hac habitasse platea dictumst. Integer vel est varius, finibus elit
                vestibulum,
                sodales sapien.
            </p>
            <p>Praesent consequat aliquam erat vitae egestas. Sed a posuere ipsum. Sed id velit sagittis, iaculis
                lectus eu, fringilla nibh. Etiam imperdiet nibh cursus, cursus augue id, pellentesque est. Mauris eget
                magna
                sed
                metus tempus scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                turpis
                egestas.
            </p>
        </div>
    </div>
    <div class="col-lg-5 col-sm-12">
        <img src="../assets/img/mockup.svg" alt="">
    </div>
</div>
<div class="row justify-content-center align-items-center">
    <button type="submit" class="sg-button-lg my-5 col-6 col-lg-4" (click)="FocusForm()">Baixar
        Agora!</button>
</div>
