<div class="row justify-content-between align-items-center" id="main-div">
  <div class="col left-container" id="left">
    <h1>OBRIGADO!</h1>
    <h2>Em breve você receberá um link para baixar gratuitamente o nosso e-book.</h2>
    <div class="row sg-btn-group move">
      <div class="col-xl-6 col-lg-12">
        <a href="https://wa.me/554188044910" class="sg-btn"><i class="fa-brands fa-whatsapp"></i> Entre em contato</a>
      </div>
      <div class="col-xl-6 col-lg-12">
        <a href="https://safegold.com.br/" class="sg-btn"><i class="fa-solid fa-globe"></i>Acessar o site</a>
      </div>
    </div>
  </div>
  <div class="col d-flex flex-row-reverse" id="right">
    <img src="{{imageURL}}/mockup.svg"  alt="Guia Essencial" class="fade-in">
  </div>
</div>